  <%= form_with do |form| %>
  <div>
  <img class="rounded-circle" src="https://i.imgur.com/WUGxiYhb.jpg" width="40">
    <%= form.text_area(:content, size: '10x1') %>
  </div>
  <div ">
    <%= form.submit class: 'btn btn-primary' %>
    <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button>
  </div>
</div>
<% end %>
