<div class = "form-group">
  <% if @post.image.attached? %>
  <%= image_tag @post.image, style: "width: 500px; display: block"%>
  <% end %>

  <%= f.label :image %>
  <%= f.file_field :image, class: "form-control" %>
</div>

<input type = "submit" class = "btn btn-info" value="Submit">